* {
  box-sizing: border-box;
}

body {
  margin: 0;
  cursor: url('red-cursor-dot.svg'), auto;
}

a {
text-decoration: none;
}

li {
  list-style: none;
  text-align: center;
}

.logo-masthead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 40px;
}

.home-logo-masthead {
  height: 200px;
}

/*test*/


.navbar {
  overflow: hidden;
  background-color: white;
  margin-top: 30px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 25px;
  margin-right: 25px;
  display: grid;
  grid-template-columns: 1.3fr 0.95fr 1fr 1fr 2.94fr 1fr 1fr 0.95fr 1.3fr ;
  grid-template-rows: 1fr;
  justify-items: center;
}

.dropdown-about {
  padding-left: 50px;
}

.dropdown-search {
  padding-right: 40px;
}

.navbar a {
  text-align: left;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.drop-down-item:not(:last-child) {
  border-bottom: 1px solid darkgrey;
}

.drop-down-item {
  color: darkgray;
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  text-transform: uppercase;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: red;
  font-weight: 900;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: white;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: darkgrey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home-menu-item-bar {
  width: 2px;
  align-self: center;
  background-color: black;
  width: 1px;
  height: 30px;
}

/* ------------------- FOOTER ------------------ */

footer {
  background-color: black;
  color: white;
  height: 330px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
}

.footer-logo-img {
  height: 50px;
  margin-left: 50px;
  margin-right: 70px;
}

.footer-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.footer-info {
  display: flex;
  flex-direction: row;
}

.span-footer {
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

.footer-item {
  margin-right: 50px;
  line-height: 25px;
}

.footer-item a {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
}

.footer-icon {
  height: 40px;
  margin: 15px;
}

.footer-copyright {
  margin-top: 20px;
  margin-bottom: 50px;
  color: darkgray;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

/*STATE HOME*/

.home-categories-container {
  justify-self: center;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}

.home-3categories {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 30px;
}

.main-projects-images {
  position: relative;
  width: 500px;
  overflow: hidden;
}

.main-projects-juxtaposition {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 30vw;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.main-projects-juxtaposition-small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 20vw;
  height: 400px;
  overflow: hidden;
  justify-self: center;
}

.home-category-images-state-2 {
  height: 200%;
}

.home-category-images-body-2 {
  height: 150%;
}
 */
.home-category {
  display: flex;
  flex-direction: column;
}

.home-category-state, .home-category-body {
  box-sizing: content-box;
  justify-self: center;
}

.home-category-small {
  display: inline-block;
}

.home-category-soul {
  justify-self: center;
}


.home-category-overlay {
  position: absolute;
  top: 380px;
  background-color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 4em;
  letter-spacing: 2px;
  color: red;
}

.home-categories-tagline, .h2-card-ochiello {
  color: red;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 20px;
}

.article-card-container-main {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 30px;
}

.article-card-main {
  overflow: hidden;
  padding-top: 30px;
  border-top: 1px solid black;
  height: 600px;
}

.card-text-main {
  margin-left: 80px;
  max-width: 1200px;
}

.h2-card-ochiello {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 300;
}

.h1-card-main {
  color: black;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 0;
}

.card-summary {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-summary-main {
  font-size: 2em;
  line-height: 1.3em;
  margin: 0;
}

.home-img-main {
  min-width: 100%;
}

.card-readmore {
  color: darkgray;
  font-family: 'Roboto Mono', monospace;
  text-align: right;
}


.article-card-container-small {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 30px;
  justify-self: center;
  margin-left: 25px;
  margin-right: 25px;
}

.article-card-container-small a {
}

.vertical-line-small {
  width: 1px;
  height: 600px;
  background-color: black;
  justify-self: center;
}

.vertical-line-cat {
  width: 1px;
  height: 450px;
  background-color: black;
  justify-self: center;
}